body {
  font-family: "Rubik", sans-serif;
  background-color: #31334A;
  color: #fff; }

.btn-outline-primary {
  color: #FFB744;
  border-color: #FFB744;
  border: 2px solid; }
  .btn-outline-primary:hover {
    background-color: #FFB744;
    border-color: #FFB744; }
  .btn-outline-primary:active, .btn-outline-primary:focus {
    border-color: #FFB744;
    background-color: transparent;
    color: #FFB744; }
  .btn-outline-primary:active:hover {
    background-color: #FFB744; }

#header {
  margin-bottom: 0px; }

#header::before {
  content: "[";
  color: #FFB744; }

#header::after {
  content: "]";
  color: #FFB744; }

#settings-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 100%;
  transform: rotate(0deg);
  transition: transform 0.5s linear; }

#settings-icon.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s linear; }

.cell {
  text-align: center;
  margin: 3px;
  height: auto;
  padding: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold; }

.cell:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left; }

.cell-text {
  margin: 0;
  height: 100%; }

.msrow {
  margin: auto; }

.covered {
  background-color: #be164e; }

.uncovered {
  background-color: #989bc7; }

.marked, .detonated {
  background-color: #be164e;
  animation: myfirst 3s linear infinite;
  -moz-animation: myfirst 3s linear infinite;
  /* Firefox */
  -webkit-animation: myfirst 3s linear infinite;
  /* Safari and Chrome */
  -o-animation: myfirst 3s linear infinite;
  /* Opera */ }

@keyframes myfirst {
  0%, 100% {
    background: #be164e; }
  50% {
    background: #FFB744; } }

@-moz-keyframes myfirst /* Firefox */ {
  0%, 100% {
    background: #be164e; }
  50% {
    background: #FFB744; } }

@-webkit-keyframes myfirst /* Safari and Chrome */ {
  0%, 100% {
    background: #be164e; }
  50% {
    background: #FFB744; } }

@-o-keyframes myfirst /* Opera */ {
  0%, 100% {
    background: #be164e; }
  50% {
    background: #FFB744; } }

.revealed {
  background-color: green; }

.mine-icon {
  height: 25px;
  width: 25px; }
