body {
  font-family: "Rubik", sans-serif; }

#gamecontainer {
  max-height: 100vw; }

.cell {
  text-align: center;
  margin: 1px;
  height: auto;
  padding: 0px;
  cursor: pointer;
  justify-content: center; }

.cell:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left; }

.covered {
  background-color: #828282; }

.uncovered {
  background-color: #d7d7d9; }

.marked {
  background: url("../img/warning.svg") no-repeat center/25px 25px; }

.revealed {
  background-color: green; }

.detonated {
  background-color: orange; }
