$covered: #be164e;
$uncovered: #989bc7;
$marked: #FFB744;
$markedglow: #be164e;

.cell {
  text-align: center;
  margin: 3px;
  height: auto;
  padding: 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cell:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}

.cell-text {
  margin: 0;
  height: 100%;

}

.msrow {
  margin: auto;
}

.covered {
  background-color: $covered;

}

.uncovered {
  background-color: $uncovered;

}

.marked, .detonated {
   background-color: $covered;
  animation:myfirst 3s linear infinite;
  -moz-animation:myfirst 3s linear infinite; /* Firefox */
  -webkit-animation:myfirst 3s linear infinite; /* Safari and Chrome */
  -o-animation:myfirst 3s linear infinite; /* Opera */
  }

  @keyframes myfirst
  {
  0%,100%   {background:$markedglow;}
  50%  {background:$marked;}
  }

  @-moz-keyframes myfirst /* Firefox */
  {
    0%,100%   {background:$markedglow;}
    50%  {background:$marked;}
  }

  @-webkit-keyframes myfirst /* Safari and Chrome */
  {
    0%,100%   {background:$markedglow;}
    50%  {background:$marked;}
  }

  @-o-keyframes myfirst /* Opera */
  {
    0%,100%   {background:$markedglow;}
    50%  {background:$marked;}
  }



.revealed {
  background-color: green;

}

.mine-icon {
  height: 25px;
  width: 25px;
}
