
$covered: #828282;
$uncovered: #d7d7d9;

#gamecontainer {
  max-height: 100vw;

}

.cell {
  // display: inline-block;
  // width: 30px;
  // height: 30px;
  text-align: center;
  margin: 1px;
  height: auto;
  // min-width: 1.5em;
  padding: 0px;
  cursor: pointer;
  justify-content: center;
  // font-weight: bold;
}

.cell:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}

.mine {

}

.msrow {
  // height: 32px;
}

.covered {
  background-color: $covered;

}

.uncovered {
  background-color: $uncovered;

}

.marked {
  background: url("../img/warning.svg") no-repeat center/25px 25px;

}

.revealed {
  background-color: green;

}

.detonated {
  background-color: orange;
}
