$mainfont:'Rubik', sans-serif;
$background-col: #31334A;

$button: #FFB744;

body {
  font-family: $mainfont;
  background-color: $background-col;
  color: #fff;
}

.btn-outline-primary {
  color: $button;
  border-color: $button;
  border: 2px solid;
  transition: all 0.5s ease;
  &:hover {
    background-color: $button;
    border-color: $button;
  }
  &:active, &:focus {
    border-color: $button;
    background-color: transparent;
    color: $button;
  }
  &:active:hover {
    background-color: $button;
  }
}
#header {
  margin-bottom: 0px;
}

#header::before {
  content: "[";
  color: $button;
}

#header::after {
  content: "]";
  color: $button;
}

#settings-icon {
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 100%;
  transform: rotate(0deg);
  transition: transform 0.5s linear;
}

#settings-icon.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s linear;
}

#settingscontainer {
  transition: opacity 3s ease,
              flex-basis 0.5s ease;
  overflow: hidden;
}

.slide-out {
  flex-basis: 0.00001%;
  padding-left: 0px;
  padding-right: 0px;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease,
              flex-basis 2s ease !important;
}

#cover {
  display: none;
  position:fixed;
  top:0;
  left:0;
  background:rgba(0,0,0,0.6);
  z-index:5;
  width:100%;
  height:100%;
}

#message-holder {
  background-color: $background-col;
  border-radius: 2%;
  position:fixed;
   left: 50%;
   top: 50%;
   -ms-transform: translate(-50%,-50%);
   -moz-transform:translate(-50%,-50%);
   -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  z-index: 10;
}

#messages {
  p {
    font-size: 1.5rem;
  }
}

#messagebutton {
  font-size: 1.5rem;
}
