$mainfont:'Rubik', sans-serif;
$standardpadding: 10px;
$inputspacing: 15px;

// Palette URL: http://paletton.com/#uid=70j1W0k00qX00++00Dp00kl0ud5 */

$color-complement-0: #8F8F8F;	// Main Complement color */
$color-complement-1: #FFFFFF;
$color-complement-2: #C0C0C0;
$color-complement-3: #6C6C6C;
$color-complement-4: #444545;

$background-col: #31334A;

body {
  font-family: $mainfont;
  background-color: $background-col;
  color: #fff;
}
